<h1>{{pirates.name}}</h1>
<h1>{{pirates.birthplace}}</h1>
<h1>{{pirates.death_year}}</h1>
<h1>{{pirates.base}}</h1>
<h1>{{pirates.nickname}}</h1>
<p>Urgent: {{todont.urgent}}</p>

<br />

<a href="/pirates" class="btn btn-default">Home</a>