<h1>I'm working!</h1>

<ul>
    {{# each userList}}
    <li>
        <div><a href="/users/{{_id}}">View Users</div>
        <div><a href="/users/delete/{{_id}}">Delete User</div>
        
        <div>ID:  {{_id}}</div>
        <div>Fist Name: {{first_name}}</div>
        <div>Email: {{email}}</div>
        <div>Created At: {{created_at}}</div>
        <div>Items: 
          <ul>
            {{# each items}}
                <li>Name: {{name}}</li>
            {{/ each}}</div>
          </ul>  
        </div>    
    </li>
    {{/ each}}
</ul>

<div><a href="/users/new">Create a New User</a></div>